<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>New Shop</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/shops/{id}(id=${shop.getId()})}" th:object="${shop}">
    <label for="name">Name: </label><br>
    <input type="text" id="name" th:field="*{name}"><br><br>
    <label for="address">Address</label><br>
    <input type="text" id="address" th:field="*{address}"><br><br>
    <label for="phoneNumber">PhoneNumber</label><br>
    <input type="text" id="phoneNumber" th:field="*{phoneNumber}"><br><br>
    <label for="email">Email</label><br>
    <input type="text" id="email" th:field="*{email}"><br><br>
    <label for="url">Url</label><br>
    <input type="text" id="url" th:field="*{url}"><br><br>
    <label for="category">Category</label><br>
    <input type="text" id="category" th:field="*{category}"><br><br>
    <label for="description">Description</label><br>
    <input type="text" id="description" th:field="*{description}"><br><br>
    <input type="submit" value="Edit">
</form>
</body>
</html>